# Ignoruj plik z kluczami API
.env

# Ignoruj inne pliki konfiguracyjne, jeśli takie masz
config.py

# Ignoruj standardowe pliki, które nie powinny być w repozytorium
__pycache__/
*.pyc

# Ignoruj katalogi wirtualnych środowisk
virtual/
env/
.virtual/
.virtual

# Ignoruj pliki logów
*.log

# Ignoruj pliki tymczasowe
*.tmp
*.swp
.venv/
